body{
    
    margin-top: 50px;
    font-family: sans-serif;
}
.card {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 40px;
    border-radius: 32px;
}


.badge{
    background-color: #191919;
    color: #fff;
    font-size: 17px;
    font-weight: 400px;
    line-height: 27px;
    width: fit-content;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48px;
}

.episode {
    color: #118da8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17px;
}

.title {
    font-family:sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    color: #fff;
    margin-bottom: 28px;
}

.subtitle{
    color: #ffffffb2;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}
.button {
    background-color:#118da8 ;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 15px 12px 20px;
}

.card2 {
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    width: fit-content;
}
.author{
    color: #86928B;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}
.name {
    color: #2C2D35;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
}
.materials{
    color: #2C2D35;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;
}
.price{
    color: #598D66;
     font-weight: 500;
    font-size: 24px;
    line-height: 100%;
   margin-bottom: 20px;
}

.button2{
    border: 1px solid #598d66;
    color: #598d66;
    background-color: transparent;
      font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 21px 106px;
}


.card4{
    width: 380px;
}

.box1{
    padding: 50px 89px 50px 44px;

}

.title1{
    color: #2e363e;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom:12px;

}
.description{
     color: #2e363e;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom:24px;
}

.cost{
    color: #434853;
    font-weight:500 ;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;
}
.button4{
    background-color: #fed84c;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    border: none;
    border-radius: 8px;
    padding: 20px 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}